.el-input.register{
    margin-bottom:1rem;
}
.el-input.register .el-input__inner{
    border-radius: 0;
    height:1.8rem;
}
.el-input.confirm .el-input__inner{
    border-radius: 0;
    height:1.8rem;
}
.el-input.confirm{
    display: inline-block;
    width:60%;
    float: left;
}
.el-rate__item{
    width:1.8rem;
}
.el-rate{
    padding-left:1rem;
}
